/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.ajax-wait {
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    z-index: 100;
}

.img-ajax-wait {
    position: fixed;
    left: 45%;
    top: 45%;
    width: 10%;
    height: auto;
    opacity: 1;
    z-index: 101;
}

.loader {
    border: 16px dotted #1a93fd;
    /*border-top: 16px solid #abdeff;*/
    border-radius: 50%;
    animation: spin 5s linear infinite;
    position: fixed;
    left: 45%;
    top: 45%;
    width: 80px;
    height: 80px;
    z-index: 101;
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
