@model DemoFW.Models.Customer

<h4>@Html.DisplayFor(model => model.Title) @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)</h4>
