
@{
    ViewBag.Title = "listados";
}

<h2>Listados</h2>
<h3>@ViewData["tipo"]</h3>

<ul>
    <li>
        idioma: @ViewData["idioma"]
    </li>
    <li>
        año: @ViewData["año"]
    </li>
</ul>
